/src/__pycache__
/server/cloudsaves/
/src/key
/server/__pycache__
server/__pycache__/gameserver.cpython-39.pyc
todo
src/WMIC.exe
src/WMICOOKR.dll
src/WMIC.exe.mui
src/customwmic.exe
src/dependencies/why.md
src/dependencies/wmic.exe
src/dependencies/WMIC.exe.mui
src/dependencies/WMICOOKR.dll
uuid.dat
src/__pycache__
src/rewritten/
username.dat
server/key.dat
server/key copy.dat
client/requesthandlers.test.py
client/__pycache__/requesthandlers.cpython-39.pyc
Tycoon.code-workspace
client/__pycache__
server/__pycache__
Tycoon-workspace.code-workspace
client/uielements/__pycache__/
client/uielements/__pycache__/textboxes.cpython-39.pyc
key.dat
client/modules/uielements/__pycache__/textboxes.cpython-39.pyc
server/runserver.cmd
client/ui
Tycoon Docs/.obsidian/app.json
Tycoon Docs/.obsidian/appearance.json
Tycoon Docs/.obsidian/core-plugins.json
Tycoon Docs/.obsidian/hotkeys.json
Tycoon Docs/.obsidian/workspace
client/modules/datahandlers/__pycache__/backendhandler.cpython-39.pyc
client/modules/datahandlers/__pycache__/datahandler.cpython-39.pyc
client/modules/datahandlers/__pycache__/requesthandler.cpython-39.pyc
client/modules/datahandlers/__pycache__/usernamehandler.cpython-39.pyc
client/backendhandler.log
requesthandler.log
server/mainserver.log
client/main.log
client/username.dat.bak
debugsave/debugsave.py
client/modules/helpers/__pycache__/convert_to_dictionary.cpython-39.pyc
debugsave/converttodictionaryhelper.log
server/property_data.py
client/debug.dat
client/legit.dat
tycoon_venv/
main.log
client/modules/uielements/__pycache__/toggles.cpython-39.pyc
client/toggles.log
Old/
.vscode/
.github/
.idea/
.gitignore
client/modules/datahandlers/__pycache__/
client/modules/helpers/client/__pycache__/
client/modules/__pycache__/__init__.cpython-39.pyc
.idea/inspectionProfiles/profiles_settings.xml
client/mainserver.log
.gitignore
server/modules/__pycache__/
